Source: notify-app
Section: x11
Priority: extra
Maintainer: Juan Pablo Lozano <lozanotux@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libgtk-3-dev,
               valac (>= 0.16)
Standards-Version: 3.9.3

Package: notify-app
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Hey Notify Guys!
 This is a Notify App written in Vala using CMake build system.
