[Desktop Entry]
Version=1.0
Type=Application

Name=Dribbble
GenericName=Dribbble Music Player
Comment=Cascade Style Player For Your Music

Categories=Audio;Music;Player;AudioVideo;GNOME;GTK;
Keywords=Music;App;Dribbble;

Exec=com.github.lozanotux.dribbble
Icon=com.github.lozanotux.dribbble
Terminal=false